<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.christophe.mixpanelapp">

    <!-- This permission is required to allow the application to send events and properties to Mixpanel -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- This permission is optional but recommended so we can be smart about when to send data -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- This permission is optional but recommended so events will contain information about bluetooth state -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:minSdkVersion="8"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a848d405e34b574589682e411fe7333d86b23e22" />


    </application>

</manifest>